<div class="test">
	<div class="moves">Moves: {{moves}}</div>
	{{#if territory}}
	<div class="territory">Territory: {{territory}}%</div>
	{{/if}}
	{{#if troops}}
	<div class="troops">Units: {{troops}}</div>
	{{/if}}
	{{#if highscore}}
	<div class="highscore">
		Best Score: {{highscore}}
	</div>
	{{/if}}
</div>
<style>

	.test	{
		color: white;
		position: absolute;
		z-index: 1000;
		font-family: 'Times New Roman', serif;
		font-size: 30pt;
	}
</style>
<script>

	const app = pc.Application.getApplication()
	const highscore = +(localStorage.getItem('highscore')||0)

	export default {
	    data() {
	        return {
	            moves: 0,
				highscore
			}
		},
	    oncreate() {
	        console.log("created")
			app.on('newgame', ()=>{
			    this.set({moves: 0, troops: 0, amount: 0})
			})
			app.on('move', ()=>{
			    this.set({moves: this.get('moves')+1})
			})
			app.on('troops', number=>{
			    this.set({troops: number})
				if(number==0) {
			        this.app.fire('lose')
				}
			})
			app.on('refreshedterritory', amount=>{
			    this.set({territory: Math.floor(amount * 100 / 60)})
				if(amount == 60) {
			        if(highscore && highscore > this.get('moves')) {
			            localStorage.setItem('highscore', this.get('moves'))
						this.set({
							highscore: this.get('moves')
						})
					}
			        this.app.fire('win')
				}
			})
		}
	}
</script>
